.container {
  padding: 0 48px 80px;

  > .titleWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 192px;

    > .title {
      font-size: 48px;
      font-weight: bold;
    }

    > .description {
      font-size: 16px;
      margin-top: 6px;
    }
  }

  > .categoryWrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 54px;
    font-size: 20px;
    margin-bottom: 40px;
    cursor: pointer;

    > .categoryConsult {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 1px solid #cdd0d2;
      border-right: none;

      &.selected {
        font-weight: bold;
        background-color: black;
        border: 1px solid black;
        color: white;
      }
    }

    > .categoryUsage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 1px solid #cdd0d2;
      border-left: none;

      &.selected {
        font-weight: bold;
        background-color: black;
        border: 1px solid black;
        color: white;
      }
    }
  }

  > .inputWrap {
    padding: 20px;
    background-color: #f8f8f8;
    height: 96px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    > .search {
      width: 480px;
      height: 56px;
      padding-left: 16px;
      padding-right: 94px;
      font-size: 1rem;
      border: 1px thin black; /* 기본적인 input 테두리 */

      &:focus {
        outline: none; /* 기본 outline 제거 */
      }
    }
  }
}
