.container {
  padding: 0 48px 80px;

  > .titleWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 192px;

    > .title {
      font-size: 48px;
      font-weight: bold;
    }

    > .description {
      font-size: 16px;
      margin-top: 6px;
    }
  }
}
