html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
button {
  background-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body,
input,
textarea,
button,
[contenteditable] {
  margin: 0;
  padding: 0;
  font-family: "Kia Signature Fix", "Arial", "sans-serif", "Hevetica";
  font-style: normal;
  line-height: 1.4;
}

@font-face {
  font-family: "Kia Signature Fix";
  font-weight: 300;
  src: url("/assets/fonts/KiaSignatureFixLight.ttf"),
    url("/assets/fonts/KiaSignatureFixOTFLight.otf");
  font-display: swap;
}

@font-face {
  font-family: "Kia Signature Fix";
  font-weight: 400;
  src: url("/assets/fonts/KiaSignatureFixRegular.ttf"),
    url("/assets/fonts/KiaSignatureFixOTFRegular.otf");
  font-display: swap;
}

@font-face {
  font-family: "Kia Signature Fix";
  font-weight: 700;
  src: url("/assets/fonts/KiaSignatureFixBold.ttf"),
    url("/assets/fonts/KiaSignatureFixOTFBold.otf");
  font-display: swap;
}
