.subTitle {
  margin: 48px 0 24px 0;
  font-size: 20px;
  font-weight: bold;
}

.serviceList {
  display: flex;
  align-items: center;
  height: 80px;
  gap: 24px;

  > .serviceBox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    gap: 8px;

    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;

    .kakaoId {
      color: #697278;
      font-size: 14px;
    }

    &:hover {
      background-color: #f4f4f4;
    }
  }
}

.processArea {
  display: flex;
  align-items: center;
  height: 156px;

  .process {
    position: relative;
    height: 100%;
    padding: 0 24px;

    > .title {
      margin-top: 8px;
      font-weight: bold;
      font-size: 18px;
    }

    > .description {
      margin-top: 8px;
      color: #37434c;
      overflow-wrap: break-word;
    }

    > .arrowIcon {
      position: absolute;
      top: 64px;
      right: -12px;
    }
  }
}

.wibleMeetBox {
  margin-top: 48px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  font-weight: bold;

  > .wibleText {
    margin-bottom: 24px;
    font-size: 18px;

    > .wibleHighlight {
      color: #70d7bf;
    }
  }
  > .mobileArea {
    display: flex;
    align-items: center;
    gap: 16px;
    > .mobileBox {
      width: 264px;
      height: 48px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      border-radius: 8px;
    }
  }
}
